* {
	box-sizing: border-box;
}
body {
	margin: 0px;
	padding: 0px;
	font-family: 'Concert One', cursive;
}
h1 {
	text-align: center;
	color: blue;
	margin-top: 50px;
	margin-bottom: 75px;
	font-size: 28px;
}
div.row {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}

.section {
	margin-bottom: 20px;
	width: 90%;
	background-color: gray;
	border: 1px solid black;
	margin-right: auto;
	margin-left: auto;

}
.section>h3 {
	font-size: 20px;
	margin: 0px;
	float: right;
	text-align: center;
	border-style: solid;
	border-width: 0px 0px 1px 1px;
	width: 35%;
	padding: 5px;
}
.section>p {
	padding: 25px 10px 10px 10px;
	font-size: 16px;
}
#chicken {
	background-color: #00bfff;
}

#beef {
	background-color: #bfff00;
}

#sushi {
	background-color: #bf00ff;
}

@media (min-width: 992px) {
	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7,
	.col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
		float: left;
	}
	.col-lg-1 {
		width: 8.33%;
	}
	.col-lg-2 {
		width: 16.66%;
	}
	.col-lg-3 {
		width: 25%;
	}
	.col-lg-4 {
		width: 33%;
	}
	.col-lg-5 {
		width: 41.6%;
	}
	.col-lg-6 {
		width: 50%;
	}
	.col-lg-7 {
		width: 58.33%;
	}
	.col-lg-8 {
		width: 66.66%;
	}
	.col-lg-9 {
		width: 75%;
	}
	.col-lg-10 {
		width: 83.33%;
	}
	.col-lg-11 {
		width: 91.66%;
	}
	.col-lg-12 {
		width: 100%;
	}

}

@media (max-width: 991px) and (min-width: 768px) {
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8,
	.col-md-9, .col-md-10, .col-md-11, .col-md-12 {
		float: left;
	}
	.col-md-1 {
		width: 8.33%;
	}
	.col-md-2 {
		width: 16.66%;
	}
	.col-md-3 {
		width: 25%;
	}
	.col-md-4 {
		width: 33%;
	}
	.col-md-5 {
		width: 41.6%;
	}
	.col-md-6 {
		width: 50%;
	}
	.col-md-7 {
		width: 58.33%;
	}
	.col-md-8 {
		width: 66.66%;
	}
	.col-md-9 {
		width: 75%;
	}
	.col-md-10 {
		width: 83.33%;
	}
	.col-md-11 {
		width: 91.66%;
	}
	.col-md-12 {
		width: 100%;
	}
	#section3 {
		width: 95%;
	}
}
@media (max-width: 767px) {
	section {
		width: 90%;
	}
}